*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p, a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    color: white;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
    z-index: 2;
    color: white;
}

nav > div {
    flex:1;
}

.pages {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:0.5rem;
}

footer {
    position: relative;
    overflow-x: hidden;
    bottom: 0;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* background: #e05a5a; */
    background-image: url("/assets/BG.jpg");
    background-attachment: fixed;
}



.slider {
    position: absolute;
    /* top: 10vh; */
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    perspective: 200px;
    perspective-origin: 50% 100%;

}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 31rem;
    border-radius: 10px;
    overflow: hidden;
    transform: translate3d(-50%,-50%,0);
    background: black;
}
.card img {
    position: absolute; /*img get formed as background*/
    opacity: 0.75;
}

.copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    height: 80%;
    transform: translate(-50%,-50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

}

h1{
    position: relative;
    text-align: center;
    font-size: 6vw;
    color: white;
    font-weight: 300;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    line-height: 2em;
}

h1 span {
    position: relative;
    display: inline-block;
}

.copy > p {
    width: 40vw;
    height: 90%;
    padding: 2rem;
    position: relative;
    text-align: center;
    color: white;
    font-weight: 100;
    line-height: 1.5rem;
    border: 2px solid black;
    overflow: auto;
}
.copy > p::after {
    content: '...'; /* Ellipsis content */
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 2rem; /* Adjust as needed */
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1) 90%); /* Gradient to fade out the ellipsis */
}
.copy > p::-webkit-scrollbar {
    display: none; /* Hide scrollbar UI */
}

@media (max-width: 900px){
    .pages {
        display: none;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 8vw; /* Increase font size for better readability on small screens */
        line-height: 1.5em; /* Adjust line-height to fit smaller screens */
    }

    /* .copy > p {
        width: 90%; 
       
    } */
}

.service-heading {
    padding-top: 3rem;
}
.service-heading > h1 {
    font-size: 3rem;
    font-weight: bold;
    background: linear-gradient(to right, #d12525, #ab06ed);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.serviceContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 80vw;
    margin: auto;

}

.service {
    display: flex;
    transition: all 0.3s;
    height: 20vmax;
    width: 18vmax; /* Adjust width to fit multiple items */
    cursor: pointer;
    flex-direction: column;
    /* img name & price in col */
    align-items: center;
    margin: 1vmax;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service:hover {
    transform: translateY(-10px);
}

.service > p {
    color: black;
    padding: 2rem;
}

.service > h2 {
    padding: 0.5em 0.5em 0.5em 0;
}

.initial-bg {
    background-image: url("/assets/3d\ mockup.jpg");
    position: absolute;
    inset: 0;
    z-index: 10;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
}

@media (max-width: 600px) {
    .service {
        width: 100vw; /* Adjust width for smaller screens */
        height: auto; /* Allow height to adjust automatically */
    }
}

@media (min-width: 601px) and (max-width: 1024px) { /* Tablet screens */
    .service {
        width: 25vw; /* Adjust width for tablets */
        height: auto; /* Allow height to adjust automatically */
    }
}

/* Base font size */
html {
    font-size: 16px; /* Adjust as needed */
  }
  
  /* Media query for smaller devices */
  @media (max-width: 768px) {
    html {
      font-size: 12px; /* Adjust for smaller devices */
    }
  }
  
  /* Media query for even smaller devices */
  @media (max-width: 480px) {
    html {
      font-size: 10px; /* Adjust for even smaller devices */
    }
  }
.card-expanded {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Take the full viewport width */
    height: 100vh; /* Take the full viewport height */
    z-index: 9999;
    overflow: hidden;
    transform: none !important; /* Reset any transform applied by GSAP */
  }
  
  .back-button {
    position: absolute; /* Changed from fixed to absolute */
    top: 3rem;
    left: 10rem; /* Position on the left side */
    z-index: 10000;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20% 20%;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
