*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}


img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

p, a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    color: white;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 2em;
    display: flex;
    align-items: center;
    z-index: 2;
    color: white;
}

nav > div {
    flex:1;
}

.pages {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:0.5rem;
}

footer {
    position: relative;
    overflow-x: hidden;
    bottom: 0;
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.container {
    position: relative;
    width: 100vw;
    height: 140vh;
    overflow: hidden;
    /* background: #e05a5a; */
    background-image: url("/assets/BG.jpg");
    border-radius: 0 0 30% 30%;
}

.slider {
    position: absolute;
    top: 10vh;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    perspective: 200px;
    perspective-origin: 50% 100%;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    transform: translate3d(-50%,-50%,0);
    background: black;
}
.card img {
    position: absolute; /*img get formed as background*/
    opacity: 0.75;
}

.copy {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    height: 80%;
    transform: translate(-50%,-50%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

h1{
    position: relative;
    text-align: center;
    font-size: 6vw;
    color: white;
    font-weight: 300;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    line-height: 2em;
}

h1 span {
    position: relative;
    display: inline-block;
}

.copy > p {
    width: 80%;
    margin: auto;
    position: relative;
    text-align: center;
    color: white;
    font-weight: 100;
    line-height: 1.5em;
}

@media (max-width: 900px){
    .pages {
        display: none;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 8vw; /* Increase font size for better readability on small screens */
        line-height: 1.5em; /* Adjust line-height to fit smaller screens */
    }

    .copy > p {
        width: 90%; /* Increase width to use more of the screen width on mobile */
        font-size: 4vw; /* Adjust font size for readability */
    }
}

.service-heading {
    padding-top: 3em;
}
.service-heading > h1 {
    font-size: 3em;
    font-weight: bold;
    background: linear-gradient(to right, #d12525, #ab06ed);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.serviceContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    width: 80vw;
    margin: auto;

}

.service {
    display: flex;
    transition: all 0.3s;
    height: 20vmax;
    width: 18vmax; /* Adjust width to fit multiple items */
    cursor: pointer;
    flex-direction: column;
    /* img name & price in col */
    align-items: center;
    margin: 1vmax;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.service:hover {
    transform: translateY(-10px);
}

.service > p {
    color: black;
    padding: 2em;
}

.service > h2 {
    padding: 0.5em 0.5em 0.5em 0;
}

@media (max-width: 600px) {
    .service {
        width: 100vw; /* Adjust width for smaller screens */
        height: auto; /* Allow height to adjust automatically */
    }
}

@media (min-width: 601px) and (max-width: 1024px) { /* Tablet screens */
    .service {
        width: 25vw; /* Adjust width for tablets */
        height: auto; /* Allow height to adjust automatically */
    }
}